
/*para color de cuerpo*/
body {
    background: linear-gradient(70deg, white, white);
    color: #fdfdfd;;
    min-height: 100vh;
  }
  .nav,div{
    
  }
  #text-uppercase{
    color:#f6faff
  }
  
  code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
  }
/*color del header*/
  .navbar-expand-lg{
    background: #f6faff;
  }

  .logo{
    height: 60px;
    width: 120px;

  }

  .nav{
    background: #f8feff;
    color: white;
  
    
 
}